<html>
    <head>
        <title>
            <%= title %>
        </title>

        <script src="https://kit.fontawesome.com/ebd0ac1dc8.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <h1>
            ToDo App
        </h1>

        <form action="/create-task" method="post">
            <label for="task_name">Description
                <input type="text" name="description" id="task_name"  placeholder="What do you need to do?" required>
            </label>

            <br>
            <br>

            <label for="deadline"> Due Date
                <input type="date" name="deadline" id="deadline">
            </label>
            
            <label for="category">Category</label>
            <select name="category" id="category" placeholder="Choose a category">
                <option value="personal">Personal</option>
                <option value="work">Work</option>
                <option value="school">School</option>
                <option value="cleaning">Cleaning</option>
                <option value="other">Other</option>
            </select>

            <br>
            <br>
            <button type="submit" id="add-task-button">Add Task</button>
            <!-- <button type="button" id="delete-button">Delete Task</button> -->
        </form>


        <form action="/delete-task" method="POST">
            <% for (let i of Tasks) { %>
                <div>
                    <div>
                        <label for="task"> 
                            <input type="checkbox" name="task" value="<%= i.description %>" id="task">

                            <%= i.description %>
                        </label>
                        <br>
                        <span><i class="fa-solid fa-calendar-days"></i></span>
                        <span id="dueDate"> <%= i.deadline %> </span>
                    </div>
                    
                    <div>
                        <%= i.category %>
                    </div>
                </div>
            <% } %>
            <button type="submit">Delete Task</button>
    </form>
    </body>
</html>